*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fira Sans', sans-serif;
}

.confirm{
    background-color: rgb(230, 234, 236);
}

 .center-logo{
    /* height: 80px; */
    position: absolute;
    left: 50%;
    margin-left: -120px !important;
    display: block;
} 
/* .border-1{
    border-width:5px !important;
} */

.title{
    font-size: 40px;
}

.title::before
{
    content: '';
    background: #eb0e50;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    transform: translateY(63px);
}

.title::after
{
    content: '';
    background: #eb0e50;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display:block;
    transform: translateY(8px);

}

 .table{
    /* padding-top: 50px; */
    margin-top: 5px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: rgb(230, 234, 236);
    width: 40%;
    
} 

.table-bordered{
    border:3px solid rgb(174, 172, 172);
    
}

.tvalue{
    width: 250px;
    
}

.left-button{
    margin: 300px;
}

.right-button{
    margin: 0;
}

 .button{
     margin-top: 300px;    
    text-align: center;
     
    /* left: 46%;  */ */
    /* margin-top: 280px;
    position: fixed;
    left: 45%;
    display: block; */

} 

@media screen and (max-width: 360px){
    .table{
        margin-top: 80px;
    }
}

@media screen and (min-width: 375px){
    .table{
        margin-top: 60px;
    }
    .button{
        margin-top: 300px;
    }
}







